#header-image {
	width: 664px;
	height: 474px;
	background-color: skyblue;
	position: relative;
}
#header-image img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition-duration: 4s;
	opacity: 0;
}