@charset "UTF-8";

/*
  READ ME

  USE: box-sizing: border-box;
  html { overflow: hidden; } (safari bug fix),
  img { display: block; },
  copy & paste all CSS within 'Image Slider' comments

  -webkit-overflow-scrolling: touch; 
  Momentum-based scrolling, where the content continues to scroll for a while after finishing the scroll gesture and removing your finger from the touchscreen.

  Adjust width and padding of '.image_slider'
    & height, width, border-radius, border, and margin-left of '.image_slider .image_slide'

  '.image_slider.justified' will justify center slides if screen is too wide for scroll, added via JS
*/

/* General Styles */
* {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;line-height:inherit;letter-spacing:inherit;list-style:none;text-decoration:none;}
html {
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-family: sans-serif;
  padding: 1em;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img {
  display: block;
}
section {
  margin: 1em 0;
}
/* End General Styles */

/* Testing CSS * /
.image_slider .image_slide::after {
  content: "Test Center-";
  text-align: right;
  position: absolute;
  top: 0px; 
  left: 0px; 
  width: 50%; 
  height: 100%; 
  border-right: 1px solid black;
}
/ * End Testing CSS */

/* Image Slider */
.image_slider {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin-left: auto;
  margin-right: auto;
}
.image_slider::-webkit-scrollbar {
  display: none;
}
.image_slider.justified {
  justify-content: center;
}
.image_slider .image_slide {
  width: 66%;
  height: auto;
  margin-right: 2%;
  border-radius: 1em;
  border: 1px solid gray;
  overflow: hidden;
  flex: 0 0 auto;
  position: relative;
}
.image_slider .image_slide img {
  /* negative margin matches width amount over 100% / 2 */
  margin-left: -14%;
  width: 128%;
  height: auto;
}
@media screen and (min-width: 1224px) {
  .image_slider .image_slide {
    width: 400px;
    height: auto;
    margin-right: 24px;
  }
}
/* End Image Slider */