@charset "UTF-8";

/* General Styles */
* {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;line-height:inherit;letter-spacing:inherit;list-style:none;text-decoration:none;}
html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img {
  display: block;
}
section {
  margin: 1em 0;
}
#mainGallery {
  width: 100%;
  display: flex;
  flex-flow: column;
}
@media only screen and (min-width: 767px) {
  #mainGallery {
    flex-flow: row;
    justify-content: space-around;
    height: calc(100vw - 2em);
    padding: 1em 0;
  }
}
/* End General Styles */

/* ----------- Image Slider ----------- */
/* Image Slider Mobile */
.img-parallax {
  width: 80%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}
.img-parallax::-webkit-scrollbar {
  display: none;
}
.img-parallax.justified {
  justify-content: center;
}
.img-parallax figure {
  width: calc(66.6% - 1em);
  height: auto;
  margin-right: 1em;
  border-radius: 1em;
  overflow: hidden;
  flex: 0 0 auto;
}
.img-parallax figure img {
  /* negative margin matches width amount over 100% / 2 */
  width: 128%;
  margin-left: -14%;
}
/* End Image Slider Mobile */

/* Begin Image Slider Desktop */
@media only screen and (min-width: 767px) {
  .img-parallax {
    overflow-y: scroll;
    margin-top: 2em;
    height: calc(100% - 2em);
    flex-direction: column;
    justify-content: flex-start;
  }
  .img-parallax::-webkit-scrollbar {
    display: none;
  }
  .img-parallax figure {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 1em;
    flex: 0 0 auto;
    border-radius: 1em;
  }
  .img-parallax figure img {
    /* Height calc via JS */
  }
}
/* End  Image Slider Desktop */